<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          &nbsp;
          <!-- <img src="img/app/logo-small.png" alt="Grabbit"/> -->
        </h1>
      </div>
      <div class="description-about">
        <p>Do you enjoy the thrill of the hunt for that item that completes your wardrobe, but need it to be at an affordable price?</p>

        <p>Our user-friendly platform allows shoppers like YOU to find the best deals around town. We only post items that are carefully curated to make sure that you are only exposed to deals that interest you and make a real difference in your wallet.</p>
      </div>

    </div>
    <!-- <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a> -->
  </div>
</template>